---
- name: Set up Docker images
  hosts: all
  become: true
  vars:
    container_names:
      - yolo-backend
      - yolo-client
      - mongo
    container_images:
      - cheronok/yolo-client
      - cheronok/yolo-backend
      - mongo    
  tasks:
  - name: Install Docker
    package:
      name: docker
      state: present

  - name: Start and enable Docker service
    service:
      name: docker
      state: started
      enabled: yes    
    tags:
      -docker

  - name: Pull container images
    command: docker pull {{ item }}
    with_items: "{{ container_images }}"
    tags:
      - images
    
  - name: Create a container
    block:
    - command: docker run -d --name {{ item.name }} {{ item.image }}
      with_items:
        - name: "{{ container_names[0] }}"
          image: "{{ container_images[0] }}"
          state: started
          ports: "3000:3000"
        - name: "{{ container_names[1] }}"
          image: "{{ container_images[1] }}"
          state: started
          ports: "5000:5000"
        - name: "{{ container_names[2] }}"
          image: "{{ container_images[2] }}"
          state: started
          ports: "27017:27017"
    tags:
      - containers

- name: Provision Vagrant machine and run setup for cloned application
  hosts: localhost
  connection: local
  vars:
    repo_url: https://github.com/cheronok/yolo.git
    repo_path: /opt/yolo
  tasks:
  - name: Clone the application repository
    git:
      repo: "{{ repo_url }}"
      dest: "{{ repo_path }}"
      version: master
  - name: Install dependencies
    shell: |
      cd {{ repo_path }}/client
      npm install
      cd {{ repo_path }}/backend
      pip install -r requirements.txt
  - name: Start application
    shell: |
      cd {{ repo_path }}/client
      npm start &
      cd {{ repo_path }}/backend
      python manage.py runserver  
      
