---
- name: Install Docker
  package:
    name: docker
    state: present

- name: Start Docker service
  service:
    name: docker
    state: started

- name: Create container for backend
      docker_container:
        name: "{{ image_2_name }}"
        image: "{{ image_2_name }}:{{ image_2_tag }}"
        state: started
        ports:
          - "5000:5000"