---
- name: Install Docker
  package:
    name: docker
    state: present

- name: Start Docker service
  service:
    name: docker
    state: started

- name: Create container for client
      docker_container:
        name: "{{ image_1_name }}"
        image: "{{ image_1_name }}:{{ image_1_tag }}"
        state: started
        ports:
          - "3000:3000"